#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.hr1 {
  margin: 40px auto;
}

.hr2 {
  margin: 20px auto;
}

.myBorder {
  border: 0.1px solid gray;
  width: 80%;
  margin: 0 auto;
  padding: 0 0 20px 0;
}
